<nav>
    <a href="/admin/products">Products</a>
    <a href="/admin/brands">Brands</a>
    <a href="/admin/categories">Categories</a>
    <a href="/admin/roles">Roles</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/orders">Orders</a>
  </nav>